body {
    background-color: #EEEDED;
    color: #dd9866;
}

.container {
    height: auto;
    margin: 0 auto;
    padding: 5%;
    text-align: center;;
    width: 80%;
}

.result {
    font-size: 3rem;
}

.btn {
    background-color: #5c6e91;
    border: none;
    color: white;
    cursor: pointer;
    padding: 15px 50px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #485672;
}

.btn:active {
    border: none;
}

.players-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.player {
    padding: 2% 15% 15%;
}

img {
    width: 150px;
}

.hide {
    visibility: hidden;
}